In [9]:
import pandas as pd

In [10]:
ls

MNAR-MBOUV.csv  select.ipynb

In [11]:
df = pd.read_csv("/home/filipe/Documentos/GitHub/LPR-open-ml-datasets/LPR_open_ML_datasets/Resultados Multivariado/Datasets-grandes/mnar_mbouv/MNAR-MBOUV.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,col1 col2 col3 col4 col5 col6 col...,10,0.0741 ± 0.0026,0.082 ± 0.0033,0.0608 ± 0.0009,0.0747 ± 0.0049,0.0804 ± 0.0013,0.0794 ± 0.0024,0.0803 ± 1,0.0793 ± 0.0012,0.0798 ± 0.0013
1,1,col1 col2 col3 col4 col5 col6 col...,20,0.0752 ± 0.0027,0.0804 ± 0.0016,0.0611 ± 0.0005,0.0797 ± 0.0047,0.0801 ± 0.0007,0.0789 ± 0.0015,0.0778 ± 0.0007,0.0776 ± 0.0012,0.0788 ± 0.001
2,2,col1 col2 col3 col4 col5 col6 col...,40,0.0746 ± 0.0013,0.079 ± 0.0015,0.0609 ± 0.0004,0.0768 ± 0.0021,0.0801 ± 0.0004,0.0801 ± 0.0009,0.0787 ± 0.0007,0.0789 ± 0.0015,0.0793 ± 0.0015
3,3,col1 col2 col3 col4 col5 col6 col...,60,0.073 ± 0.0018,0.0771 ± 0.001,0.0612 ± 0.0003,0.0768 ± 0.0052,0.0802 ± 0.0003,0.0785 ± 0.0017,0.0795 ± 0.0007,0.0793 ± 0.0007,0.0787 ± 0.0011

In [12]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [13]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,col1 col2 col3 col4 col5 col6 col...,10,0.0741 ± 0.0026,0.082 ± 0.0033,0.0608 ± 0.0009,0.0747 ± 0.0049,0.0804 ± 0.0013,0.0794 ± 0.0024,0.0803 ± 1,0.0793 ± 0.0012,0.0798 ± 0.0013
1,col1 col2 col3 col4 col5 col6 col...,20,0.0752 ± 0.0027,0.0804 ± 0.0016,0.0611 ± 0.0005,0.0797 ± 0.0047,0.0801 ± 0.0007,0.0789 ± 0.0015,0.0778 ± 0.0007,0.0776 ± 0.0012,0.0788 ± 0.001
2,col1 col2 col3 col4 col5 col6 col...,40,0.0746 ± 0.0013,0.079 ± 0.0015,0.0609 ± 0.0004,0.0768 ± 0.0021,0.0801 ± 0.0004,0.0801 ± 0.0009,0.0787 ± 0.0007,0.0789 ± 0.0015,0.0793 ± 0.0015
3,col1 col2 col3 col4 col5 col6 col...,60,0.073 ± 0.0018,0.0771 ± 0.001,0.0612 ± 0.0003,0.0768 ± 0.0052,0.0802 ± 0.0003,0.0785 ± 0.0017,0.0795 ± 0.0007,0.0793 ± 0.0007,0.0787 ± 0.0011

In [14]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,col1 col2 col3 col4 col5 col6 col...,10,0.0741,0.082,0.0608,0.0747,0.0804,0.0794,0.0803,0.0793,0.0798
1,col1 col2 col3 col4 col5 col6 col...,20,0.0752,0.0804,0.0611,0.0797,0.0801,0.0789,0.0778,0.0776,0.0788
2,col1 col2 col3 col4 col5 col6 col...,40,0.0746,0.079,0.0609,0.0768,0.0801,0.0801,0.0787,0.0789,0.0793
3,col1 col2 col3 col4 col5 col6 col...,60,0.073,0.0771,0.0612,0.0768,0.0802,0.0785,0.0795,0.0793,0.0787

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       4 non-null      object
 1   Missing Rate  4 non-null      int64
 2   KNN           4 non-null      object
 3   MICE          4 non-null      object
 4   PMIVAE        4 non-null      object
 5   SAEI          4 non-null      object
 6   MEAN          4 non-null      object
 7   LPR0          4 non-null      object
 8   LPR1          4 non-null      object
 9   LPR2          4 non-null      object
 10  LPR3          4 non-null      object
dtypes: int64(1), object(10)
memory usage: 484.0+ bytes

In [16]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,col1 col2 col3 col4 col5 col6 col...,10.0,0.0741,0.0820,0.0608,0.0747,0.0804,0.0794,0.0803,0.0793,0.0798
1,col1 col2 col3 col4 col5 col6 col...,20.0,0.0752,0.0804,0.0611,0.0797,0.0801,0.0789,0.0778,0.0776,0.0788
2,col1 col2 col3 col4 col5 col6 col...,40.0,0.0746,0.0790,0.0609,0.0768,0.0801,0.0801,0.0787,0.0789,0.0793
3,col1 col2 col3 col4 col5 col6 col...,60.0,0.0730,0.0771,0.0612,0.0768,0.0802,0.0785,0.0795,0.0793,0.0787

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       4 non-null      object
 1   Missing Rate  4 non-null      float64
 2   KNN           4 non-null      float64
 3   MICE          4 non-null      float64
 4   PMIVAE        4 non-null      float64
 5   SAEI          4 non-null      float64
 6   MEAN          4 non-null      float64
 7   LPR0          4 non-null      float64
 8   LPR1          4 non-null      float64
 9   LPR2          4 non-null      float64
 10  LPR3          4 non-null      float64
dtypes: float64(10), object(1)
memory usage: 484.0+ bytes

# Agrupando pela taxa MD

In [18]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0741,0.0820,0.0608,0.0747,0.0804,0.0794,0.0803,0.0793,0.0798
1,20.0,0.0752,0.0804,0.0611,0.0797,0.0801,0.0789,0.0778,0.0776,0.0788
2,40.0,0.0746,0.0790,0.0609,0.0768,0.0801,0.0801,0.0787,0.0789,0.0793
3,60.0,0.0730,0.0771,0.0612,0.0768,0.0802,0.0785,0.0795,0.0793,0.0787

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  4 non-null      float64
 1   KNN           4 non-null      float64
 2   MICE          4 non-null      float64
 3   PMIVAE        4 non-null      float64
 4   SAEI          4 non-null      float64
 5   MEAN          4 non-null      float64
 6   LPR0          4 non-null      float64
 7   LPR1          4 non-null      float64
 8   LPR2          4 non-null      float64
 9   LPR3          4 non-null      float64
dtypes: float64(10)
memory usage: 452.0 bytes

In [22]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [20]:
df.to_csv("Resultados_MNAR_MBOUV_missing_rate.csv")

In [16]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.169825,0.163587,0.214150,0.195912,0.219738,0.193713,0.194150,0.197475,0.192488
20.0,0.182862,0.167437,0.216163,0.189375,0.218188,0.194525,0.195075,0.196100,0.193000
40.0,0.201162,0.194038,0.217325,0.166525,0.218712,0.199037,0.197675,0.199150,0.198288
60.0,0.206088,0.210250,0.225612,0.165362,0.225925,0.206625,0.204363,0.206013,0.201475